*{
    margin: 0%;
    padding: 0%;
}

body{
    background-color: #E5E5E5;
    color: #000;
    font-family: 'Roboto', sans-serif;
}
nav{
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-around;
}
nav h3, input{
    margin-top: 5px;
}
input{
    background-image: url('assets/icon-search.svg');
    background-repeat: no-repeat;
    width: 145px;
    padding-left: 25px;
}
input:hover{
    background-color: white;
    color: black;
}
.pesquisa{
    height: 25px;
}
.modal{
    position: absolute;
    background-color: blue;
    color: white;
}

.conteiner{
    display: grid;
    grid-template-columns: 1fr 1.8fr;
}
.side{
   background-color: rgba(0, 0, 255, 0.041);
}
.preco{
    width: 190px;
    margin-top: 100px;
    margin-left: 100px;
    padding: 15px;
}
.preco p{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 11px;
    color: #9C9696;
}
.preco h2{
    margin-top: 15px;
    margin-bottom: 15px;
}
.preco button{
    text-decoration: none;
    width: 200px;
    height: 50px;
    color: white;
    background-color:  #FF0000; 
    border: none;   
}
main{
    height: 530px;
    text-align: center;
    background-color:  #C4C4C4;
}
/* Tenis em destaque*/
.tenis1 .caixaTenis{
    width: 358px;
    height: 340px;
    background-image: url('assets/tenis-1-ampliado.png');
    background-repeat: no-repeat;
    background-size: 110%;
    margin-top: 70px;
    margin-left: 230px;
}
/* Grupo de tenis*/
.grupTenis{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.grupTenis img{
   width: 155px;
   margin: 0%;
}
.tenis3{
    border-bottom: 4px solid red;
}

footer{
    margin-top: 2px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
}
footer .imgVideo{
    width: 140px;
    margin-left: 25px;
}
footer h3{
margin-top: 35px;
}
footer h2{
    background-color: black;
    text-align: center;
    color: white;
    padding-top: 35px;
    padding-left: 10px;
    width: 240px;
}
h3 a{
    text-decoration: none;
    color: #000;
}
h2 a{
    text-decoration: none;
    color: white;
}
h2 img{
    margin-left: 5px; 
}
a:hover{
    color: blue;
    cursor: pointer;
}

h3:hover{
    color: blue;
    cursor: pointer;
}